<nav class="navbar p-4" >
    <div class="container-fluid fixed-top  bg-primary shadow  ">
        <a routerLink="/" class="navbar-brand " style="	text-decoration: none;text-shadow: 0.1em 0.1em 0.2em black;">
            <span style="color:#4DB2EE ;font-family:'Arial Black';"> SKYBLUE</span>
            <span style="color:#aaa;"> | </span>
            <b style="color:black"></b>
            <b style="color:white;">{{nameUser}}</b>
        </a>
        <span class="menu-spacer"></span>
        <a data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu">
            <mat-icon class="text-light ms-lg-2">menu</mat-icon>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenu">
            <div class="offcanvas-header">
                <a routerLink="/" type="button" mat-button>
                    <mat-icon>home</mat-icon>
                </a>
                <span class="sub-menu"></span>
                <img class="img-avatar" src="{{avatar}}" alt="logo">
                <span class="sub-menu"></span>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <div class="col-12 dropdown btn-outline">

                    <nav class="navbar bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                <i class="fa-fw fa-solid fa-user-gear"></i><span >MANTENIMIETO</span>
                            </a>
                            <ul class="dropdown-menu border-light container ">
                                <li >
                                    <a class="dropdown-item mb-1 " routerLink="/auth/user">
                                        <i class=" fa fa-fw fa-solid fa-user"></i><span>USERS</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item mb-1" routerLink="/trabajador/listar">
                                        <i class="fa-solid fa-id-card"></i>
                                        TRABAJADORES
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item mb-1" routerLink="/vehiculo/listar">
                                        <i class="fa-solid fa-bus"></i>
                                        VEHICULOS
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-route"></i>
                                        RUTAS VEHICULARES</a>
                                </li>
                            </ul>
                        </div>
                    </nav>


                </div>

            </div>
            <div class="offcanvas-footer">
                <span class="menu-spacer"></span>
                <a *ngIf="isLogged" (click)="onLogOut()">
                    <mat-icon> logout </mat-icon>
                </a>
            </div>
        </div>

    </div>
</nav>

<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <div class="loader" style="top:50%;left:50%;"><span id="counter">
            Loading<i></i></span>
        <div class="spinner"></div>
    </div>
</div>


