.sidenav-container {
	text-decoration: none;
	text-shadow: 0.1em 0.1em 0.2em black;
}

.sidenav {
	width: 250px;
	text-shadow: 0.1em 0.1em 0.2em black;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}



.menu-spacer {
	flex: 1 1 auto;
}

.sub-menu {
	flex: 1 1 auto;
}

.img-avatar {
	width : 40px;
	border-radius:100%
}


