<!-- <app-menu></app-menu> -->
<form  valid (ngSubmit)="save(users)" >
   
    <mat-card>
        <mat-card-header>
            <mat-card-title> Users Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="users.username" name="username" matInput placeholder="Username" required>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [(ngModel)]="users.password" name="password"  [type]="hide ? 'password' : 'text'" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="users.avatar" name="avatar"  matInput placeholder="Avatar">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Enter your email</mat-label>
                        <input matInput [(ngModel)]="users.email" name="email" placeholder="pat@example.com" [formControl]="email"  required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="users.mobile" name="mobile" placeholder="mobile">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field matInput  class="full-width" [hideRequiredMarker]="hideRequiredControl.value"
                        [floatLabel]="floatLabelControl.value">
                        <mat-select [(ngModel)]="users.roles" name="role" required multiple="multiple">
                            <mat-option value="0" selected> -- None --</mat-option>
                            <mat-option *ngFor="let r of roles" value="{{ r.name}}"> {{ r.name }}</mat-option>
                          
                        </mat-select>
                        <mat-label>
                            <mat-icon>admin_panel_settings</mat-icon> <b> Role</b> <i> user</i>
                        </mat-label>
                    
                    </mat-form-field>
                </div>
            </div>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" >Submit</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>

</form>